docs/satel-inputs-nodered-flow.json
[
  {
    "id": "a1b2c3d4e5f6",
    "type": "tab",
    "label": "Satel Inputs Monitor",
    "disabled": false,
    "info": "Read Satel INTEGRA system inputs (8, 9, 12, 13) from LSH dashboard",
    "env": []
  },
  {
    "id": "poll_timer",
    "type": "inject",
    "z": "a1b2c3d4e5f6",
    "name": "Poll every 5s",
    "props": [{"p": "payload"}],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 120,
    "y": 100,
    "wires": [["http_fetch"]]
  },
  {
    "id": "http_fetch",
    "type": "http request",
    "z": "a1b2c3d4e5f6",
    "name": "GET LSH Store",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/api/store",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 330,
    "y": 100,
    "wires": [["parse_inputs"]]
  },
  {
    "id": "parse_inputs",
    "type": "function",
    "z": "a1b2c3d4e5f6",
    "name": "Extract Satel Inputs 8,9,12,13",
    "func": "// Parse Satel input states from LSH data store\nconst store = msg.payload;\nconst inputs = {};\nconst monitored = [8, 9, 12, 13];\n\nfor (const num of monitored) {\n  const key = `satel/input/${num}/state`;\n  inputs[num] = store[key] ? store[key].value || store[key] : 0;\n}\n\nmsg.payload = inputs;\nmsg.topic = \"satel/inputs\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 100,
    "wires": [["format_output", "debug_output"]]
  },
  {
    "id": "format_output",
    "type": "function",
    "z": "a1b2c3d4e5f6",
    "name": "Format for Dashboard",
    "func": "// Format inputs with labels\nconst labels = {\n  8: 'Battery',\n  9: 'AC Mains',\n  12: 'GSM',\n  13: 'Temperature'\n};\n\nconst formatted = {};\nfor (const [num, state] of Object.entries(msg.payload)) {\n  const label = labels[num] || `Input ${num}`;\n  formatted[label] = state === 1 ? 'OK' : 'FAULT';\n}\n\nmsg.payload = formatted;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 80,
    "wires": [["status_display"]]
  },
  {
    "id": "debug_output",
    "type": "debug",
    "z": "a1b2c3d4e5f6",
    "name": "Debug: Raw Inputs",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 140,
    "wires": []
  },
  {
    "id": "status_display",
    "type": "debug",
    "z": "a1b2c3d4e5f6",
    "name": "Satel Input Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.Battery + ' | ' + payload['AC Mains'] + ' | ' + payload.GSM + ' | ' + payload.Temperature",
    "statusType": "auto",
    "x": 950,
    "y": 80,
    "wires": []
  }
]
